/* Common styles */
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $medium-font-size;
  font-weight: $medium-font-weight;
  line-height: $line-height;
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100%;
}

h1{
  font-size: 4em;
  font-weight: 300;
}

h2{
  font-size: 2.2em;
  font-weight: 600;
}

h3{
  font-size: 1.7em;
  font-weight: 400;
}
h4{
  font-size: 1.5em;
  font-weight: 400;
}
h5{
  font-size: 1.1em;
  font-weight: 400;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

section{
  padding: 80px 20px;
}