@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');

//colors
$white:#fff;
$light-gray: #bbbbc4;
$lighter-black:#252525;
$black:#333;
$red: #E31B6D;

//typography
$base-font-family:'Source Sans Pro', sans-serif;
$medium-font-weight: 400;
$medium-font-size:1em;
$line-height: 2em;