@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');

//colors
$white:#fff;
$black:#000;
$gray:#bebebe;
$light-black: lighten($black, 15%);
$dark-gray: darken($gray, 36%);
$red: #E31B6D;

//typography
$base-font-family:'Source Sans Pro', sans-serif;
$base-font-weight: 400;
$light-font-weight:300;
$base-font-size:1em;
$base-line-height: 2em;

//layout
$content-width: 980px;
$spacing-unit:30px;